html {
    font-size: 62.5%;
}

body {
    background-color: #f7f7f7;
}

/*全体*/
#control_panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
    padding: 1.5rem;
}

/*timer*/
#timer{
    align-self: center;
    justify-self: center;
}
#timer span {
    vertical-align: middle;
    font-family: "Consolas", monospace;
    font-size: 12rem;
    color: #030303;

}

/*button*/
#wrap_btn_play_conf {
    margin-top: 1.5rem;
    margin-left: 17rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#wrap_btn_time_conf {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.btn {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    border: solid 1px;
    border-radius: 25vh;
    border-color: rgba(3, 3, 3, 0.3);
    background-color: #ffffff;
    padding: 0.5rem;
    margin-right: 1.5rem;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(3, 3, 3, 0.05);
    letter-spacing: 0.1rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}
.btn:hover {
    background-color: rgba(3, 3, 3, 0.05);
    border-color: rgba(3, 3, 3, 0.08);
    box-shadow: 0 4px 10px rgba(3, 3, 3, 0.15);
}
.btn_text {
    display: inline-flex;
    color: #030303;
    align-self: center;
    font-family: "LINE Seed JP", "Noto Sans JP", sans-serif;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.btn_icon {
    display: inline-block;
    align-self: center;
    padding-right: 0.25rem;
    width: 2.5rem;
    height: auto;
}
.btn_icon img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*sound*/
#sound_conf.sound_clickable_area {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(3, 3, 3, 0.5);
    padding-bottom: 0.2rem;
    cursor: pointer;
    user-select: none;
    min-width: 17rem;
}
.sound_name {
    color: #030303;
    font-family: "LINE Seed JP", "Noto Sans JP", sans-serif;
    font-size: 1.5rem;
    margin-left: 1rem;
}
.sound_icon {
    width: 2.5rem;
    height: auto;
    display: inline-block;
}

/*タイムブロック*/
#time_block {
    width: 100%;
    height: 72.5vh;
}